
<h1 class="colorclass">Bike Information</h1>
<table>
    <tr>
        <th class="obliqueclass">Name</th>
        <td class="obliqueclass">{{Bikename}}</td>
    </tr>
    <tr>
        <th class="obliqueclass">Engine</th>
        <td class="obliqueclass">{{Engine}}</td>
    </tr>
    <tr>
        <th class="obliqueclass">Speed</th>
        <td class="obliqueclass">{{Speed}}</td>
    </tr>
    <tr>
        <th class="obliqueclass"> Weight</th>
        <td class="obliqueclass">{{weight}}</td>
    </tr>
</table>
