
<h1>Employee Information</h1>
<h2>
    <ol>
        <li>Employee Name: {{Name}}</li>
        <li>Employee ID: {{Empid}}</li>
        <li>Profile:{{designation}}</li>
    </ol>
    </h2>
    <table>
        <tr>
            <th>Employee Name</th>
            <td>{{Name}}</td>
        </tr>

        <tr>
                <th>Employee ID</th>
                <td>{{Empid}}</td>
            </tr>    
        
            <tr>
                    <th>Employee Profile</th>
                    <td>{{designation}}</td>
                </tr>
        </table>
