
<h1 class="colorclass">Book Specification</h1>
<table>
    <tr>
        <th class="obliqueclass">Name</th>
        <td class="obliqueclass">{{Bookname}}</td>
    </tr>
    <tr>
        <th class="obliqueclass">Author</th>
        <td class="obliqueclass">{{Author}}</td>
    </tr>
    <tr>
        <th class="obliqueclass">Publication</th>
        <td class="obliqueclass">{{Publication}}</td>
    </tr>
    <tr>
        <th class="obliqueclass">Pages</th>
        <td class="obliqueclass">{{Pages}}</td>
    </tr>
</table>
