<!--The content below is only a placeholder and can be replaced.-->

  <h1 style="color: blueviolet">
    
    Welcome to {{ title }}!
  </h1>
  
    <h1> <b>  Assimilate Technologies </b></h1>
  <ul>
    <li><b>Software Requirements</b></li>
    <li><b>Project Setup</b></li>
    <li><b>ngserve</b></li>
  </ul>
  <h1 style="color: blueviolet"> Welcome {{name}}</h1>
  <ul>
    <li> <b> Name: {{name}}</b></li>
    <li><b>Lastname: {{Lastname}}</b></li>
    <li><b>Gender: {{Gender}}</b></li>
    <li> <b>Address: {{Address}}</b></li>
  </ul>
  <br>
  <table>
    <tr>
      <th>Name</th>
      <td>{{name}}</td>
    
    </tr>
    <tr>
      <th>Lastname</th>
      <td>{{Lastname}}</td>
    </tr>

    <tr>
      <th>Gender</th>
    <td>{{Gender}}</td>
    </tr>

    <tr>
      <th>Address</th>
      <td>{{Address}}</td>
    </tr>
  </table>

<app-form>  </app-form>
  <app-binding> </app-binding>
  <app-arithmatic></app-arithmatic>
  <app-student></app-student>
  <app-contact></app-contact>
  <app-about></app-about>
  <app-home></app-home>
  <app-electronics></app-electronics>
  <app-cloth></app-cloth>
  <app-list> </app-list>
 <app-bike></app-bike>
  <app-book></app-book>
  <app-desktop></app-desktop>
  <app-mobile></app-mobile>
  <app-company></app-company>
<app-customer>  </app-customer>
  <app-employee></app-employee>
<router-outlet></router-outlet>
