
<h1>Training Company</h1>
<h2>
    <ol>
        <li class="customclass">Name:{{name}}</li>
        <li class="boldclass">Last Name:{{lname}}</li>
        <li class="italicclass">City:{{city}}</li>
        <li class="colorclass">Landmark:{{landmark}}</li>
        <li class="italicclass colorclass">Date of Strating:{{DateofStarting}}</li>
        <li class="italicclass colorclass">Starter Package:{{ StarterPackage}}</li>
    </ol>
    <table>
        <tr>
            <th class= "customclass italicclass">Name</th>
            <td class="customclass italicclass">{{name}}</td>
        </tr>
        <tr>
            <th class= "customclass italicclass"> Last Name</th>
            <td class="customclass italicclass">{{lname}}</td>
        </tr>
        <tr>
            <th class= "customclass italicclass">City</th>
            <td class="customclass italicclass">{{city}}</td>
        </tr>
        <tr>
            <th class= "customclass italicclass">Land Mark</th>
            <td class="customclass italicclass">{{landmark}}</td>
        </tr>
        <tr>
            <th class= "customclass italicclass">Date of Starting</th>
            <td class="customclass italicclass">{{DateofStarting}}</td>
        </tr>
        <tr>
            <th class= "customclass italicclass">Stater Package</th>
            <td class="customclass italicclass">{{ StarterPackage}}</td>
        </tr>
    </table>
</h2>